.Area-icon a{
    padding: 0px 20px;
    color:black;
}
.navbar-nav .nav-item{
    padding-right: 1.5rem;
}
.nav-item .nav-link a{
    color: #000;
    font-size: 15px;
}
.nav-item .nav-link a:hover{
    text-decoration: none;
}

.navbar {
    padding: 16px 0px;
}
.search {
    display: inline-flex;
    width: 100%;
    background-color: #ff3368;
    padding: 10px 38px 10px 10px;
    align-items: center;
    color: white;
    /* opacity: 0; */
    display: none;

}
.search input {
    width: 100%;
    border: none;
    background: transparent;
}
::placeholder {
    color: white;
}