.single_product_text {
    margin-top: 30px;
    transition: 1s;
    padding: 0px 20px;
}
.single_product_item:hover .single_product_text {
    padding: 0px 30px;
    transition: 0.5s;
}
.single_product_item:hover {
    box-shadow: 0px 10px 20px 0px rgba(0, 23, 51, 0.09);
    transition: 0.5s;
}
.single_product_item:hover .add_cart {
    opacity: 1;
}
.single_product_text h3{
    margin: 20px 0px;
}
.single_product_text a{
    margin: 20px 0px;
    color: #ff3368;
    text-decoration: none;
}

.add_cart {
    justify-content: space-between;
    display: flex;
    opacity: 0;
}
