.Area-feature {
    background-color: #f8fbff;
    padding: 50px;
    position: relative;
    width: 100%;
    height: 400px;
}
.Area-feature img{
    position: absolute;
    bottom: 0px;
    left: 198px;
}
.single_feature_post_text h4{
    font-weight: 800;

}
.single_feature_post_text a{
    display: none;
    color: #ff3368;

}
.single_feature_post_text .imgr{
    left: 272px;

}
.Area-feature:hover a{
    display: block;
    text-decoration: none;
    font-size: 1.2rem;

}

.m-t {
    margin: 100px 0px 100px 0px;
}

.xem-ngay {
    position: absolute;
    display: block;
    bottom: 60px;
}